<div>
    <ul class="navigation_ul">
        <li class="navigation_li"><a class="navigation_li" href="{{ path('app_main_index') }}">Accueil</a></li>
        <li class="navigation_li"><a class="navigation_li" href="{{ path('app_main_contact') }}">Contact</a></li>
        <li class="navigation_li"><a class="navigation_li" href="{{ path('app_blog_index') }}">Blog</a></li>
    </ul>
</div>